{include file='common/head'}<div style="margin:auto;">
    <style>

</style>
<div class="layui-col-md12 cms-index-module-adv1">
    <div class="layui-carousel" id="carousel">
        <div carousel-item id="adv_content" nctype="object_module_edit">
            <div class="img_li picture">
                <a href="#" data-url="" data-pic="#" data-title="简单、高效、简洁" class="title" target="_blank">
                    <div class="banner-title">简单、高效、简洁</div>
                    <img src="/static/img/b3607f45c4f6cf56456edbe3ab096e1a.jpg" alt="简单、高效、简洁" class="t-img">
                </a>
            </div>
            <div class="img_li picture">
                <a href="#" data-url="#" data-pic="#" data-title="集万千宠爱于一身" class="title" target="_blank">
                    <div class="banner-title">集万千宠爱于一身</div>
                    <img src="/static/img/959887756be1af9bcc1a78ca0565fc8d.jpg" alt="集万千宠爱于一身" class="t-img">
                </a>
            </div>
            <div class="img_li picture">
                <a href="#" data-url="#" data-pic="#" data-title="精益求精" class="title" target="_blank">
                    <div class="banner-title">精益求精</div><img src="/static/img/b043970c33f6a88529b332b4c5d0727b.jpg" alt="精益求精" class="t-img"></a>
            </div>
        </div>
    </div>
    </div>
<script>
    layui.use(['util','carousel'], function() {
        var util = layui.util, $ = layui.$, carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carousel'
            , width: '100%' //设置容器宽度
            , arrow: 'hover' //悬停显示箭头
            , height: '460px'
            , anim: 'fade' //切换动画方式
            ,autoplay:true
        });
    });
</script><div class="layui-container cms-index-module-index1 module-style-style1">
    <div class="layui-row layui-col-space15 cms-index-module-index1-1">
        <div class="layui-col-md8">
            <div class="fly-panel clt-panel">
                <div class="fly-panel-title fly-filter title-bar">
                    <a id="index1_2_1_title" nctype="object_module_edit">最新动态</a>
                                    </div>
                <div class="content-box content-big">
                    <ul class="fly-list" id="index1_2_1_1_content" nctype="object_module_edit">
                                                    
                                                    
           <li class="cms-index-article-normal">
            <a nctype="cms_index_not_display" href="#" class="fly-avatar">
                <img src="/static/img/no_pic.png" alt="发布">
            </a>
            <h2>
                <a class="title" nctype="article_item" href="#" target="_blank" data-cname="55youtao" data-id="44" data-url="#" data-time="2017-10-13" data-thumb="/static/img/no_pic.png" data-hits="1659"  data-curl="">
                   	 训练题目               </a>
            </h2>
            <div nctype="cms_index_not_display" class="fly-list-info">
                <a href="" nctype="cms_index_not_display">55youtao</a>
                <span>2020-10-13</span>
                <span class="fly-list-nums"><i class="iconfont" title="点击"></i> 1659</span>
            </div>
            
        	</li>  
                                                                                                                                     </ul>
             </div>
            </div>
        </div>

        <div class="layui-col-md4">
            <div class="fly-panel">
                <div class="title-bar">
                    <h3 class="fly-panel-title" id="index1_2_title" nctype="object_module_edit">热门头条</h3>
                                    </div>
                <div class="content-box mall-class">
                    <ul class="fly-panel-main fly-list-static" id="index1_2_1_2_content" nctype="object_module_edit">
                                                    
        <li class="cms-index-article-normal"><a class="title" nctype="article_item"  target="_blank"  data-id="20" data-url="javascript:;"  data-thumb="/static/img/no_pic.png" data-title="PHP格式化字节大小" >
  PHP格式化字节大小                </a></li>  
          <li class="cms-index-article-normal"><a class="title" nctype="article_item"  target="_blank"  data-id="20" data-url="javascript:;"  data-thumb="/static/img/no_pic.png" data-title="PHP格式化字节大小" >
  PHP格式化字节大小                </a></li>                                                                                      </ul>
              </div>
            </div>
            <div class="fly-panel fly-signin clt-panel">
               
                
            </div>
        </div>
    </div>
</div><div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12 cms-index-module-ad1">
            <div id="ad_content" nctype="object_module_edit">
                <div class="img_li picture"><div class="cms-thumb"><a href="javascript:;" target="_blank"><img src="/static/img/6567360287d3f812af0c611a05ce8fa2.png"  alt="" class="t-img"></a></div></div>            </div>
        </div>
            </div>
</div><div class="layui-container cms-index-module-debris1 module-style-style6">
    <div class="debris cms-index-module-debris1-1">
        <div class="layui-row mf15">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                <div class="site-idea">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>
                            <a href="JavaScript:void(0);" id="debris1_1_title" nctype="object_module_edit">我们的差异化</a>
                                                    </legend>

                        <div class="content-box">
                            <div class="info" id="debris1_1_content" nctype="object_module_edit">内容管理系统给您自由的模型构建权利，让您的想法通过您亲自操作实现。不要再为传统的数据库字段限制而发愁。一步删除，一步增加，您想要的，就是这一步。</div>
                                                    </div>
                    </fieldset>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                <div class="site-idea">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>
                            <a href="JavaScript:void(0);" id="debris1_2_title" nctype="object_module_edit">完整的建站理念</a>
                                                    </legend>
                        <div class="content-box">
                            <div class="info" id="debris1_2_content" nctype="object_module_edit">可以轻松构建模型，让数据库随心而动，让内容表单随意而变。模型和栏目的绑定，是为了让前台页面能更好的为您的想法服务，让您不再为建站留下遗憾。</div>
                                                    </div>
                    </fieldset>
                </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                <div class="site-idea">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>
                            <a href="JavaScript:void(0);" id="debris1_3_title" nctype="object_module_edit">简单、高效、简洁</a>
                                                    </legend>
                        <div class="content-box">
                            <div class="info" id="debris1_3_content" nctype="object_module_edit">内容管理系统，全程鼠标操作，不用手动建立数据库，不用画网站结构图，也不用打开编译器。网站后台直接编辑模版，让网站建设达到前所未有的极致简单。</div>
                                                    </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-container cms-index-module-article1 module-style-style8">
    <div class="layui-row layui-col-space15 cms-index-module-article1-1">
        <div class="layui-col-md12">
            <div class="fly-panel fly-link">
                <div class="title-bar">
                    <div class="fly-panel-title" id="index1_3_title" nctype="object_module_edit">友情链接</div>
                                    </div>
                <div class="content-box">
                    <dl class="fly-panel-main" id="index1_3_link" nctype="object_module_edit">
                                                    
                 <dd data-link-id="12">
                <a href="javascript:;">关于我们</a><i></i>
            </dd>                                                                                      </dl>
                                    </div>
            </div>
        </div>
    </div>
</div>

</div>
{include file='common/footer'}<script>
    layui.config({
        version: "3.0.0"
        ,base: '/static/home/mods/' //这里实际使用时，建议改成绝对路径
    }).extend({
        fly: 'index'
    }).use('fly');
</script>
</body>
</html>

